<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.0.xsd">
    <!--Использование аннотации-->
    <context:annotation-config />
    <!--4.3. Автоматическое определение компонентов-->
    <context:component-scan
            base-package="part_1.head_04.annotation.com.springinaction.spring_idol.component_scan">
        <context:include-filter type="assignable"
                                expression="part_1.head_04.annotation.com.springinaction.spring_idol.component_scan.Instrument"/>
        <context:exclude-filter type="annotation"
                                expression="part_1.head_04.annotation.com.springinaction.spring_idol.component_scan.SkipIt"/>
    </context:component-scan>

    <!-- здесь находятся объявления компонентов -->

    <!--4.2.1. Использование аннотации @Autowired-->
    <bean id="eddie" class="part_1.head_04.annotation.com.springinaction.spring_idol.autowired.Instrumentalist">
        <property name="song" value="Running with the Devil" />
    </bean>
    <bean id="guitar" class="part_1.head_04.annotation.com.springinaction.spring_idol.autowired.Guitar"/>
    <bean id="piano" class="part_1.head_04.annotation.com.springinaction.spring_idol.autowired.Piano" />



</beans>