<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	    http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Здесь должны находиться объявления компонентов -->

    <!--<start id="duke_bean" />-->
    <bean id="duke" class="part_1.head_02.com.springinaction.spring_idol.Juggler"/>
    <!--<end id="duke_bean" />-->

    <!--<start id="sonnet29_bean" />-->
    <bean id="sonnet29" class="part_1.head_02.com.springinaction.spring_idol.Sonnet29"/>
    <!--<end id="sonnet29_bean" />-->

    <!--<start id="poeticduke_bean" />-->
    <bean id="poeticDuke" class="part_1.head_02.com.springinaction.spring_idol.PoeticJuggler">
        <constructor-arg value="15"/>
        <constructor-arg ref="sonnet29"/>
    </bean>
    <!--<end id="poeticduke_bean" />-->

    <!--Создание компонентов с помощью фабричных методов-->
    <!--<start id="theStage_bean" />-->
    <bean id="theStage" class="part_1.head_02.com.springinaction.spring_idol.Stage" factory-method="getInstance"/>
    <!--<end id="theStage_bean" />-->

    <!--Область действия компонента-->
    <!--<start id="ticket_bean" />-->
    <bean id="ticket" class="part_1.head_02.com.springinaction.spring_idol.Ticket" scope="prototype" />
    <!--<end id="ticket_bean" />-->

    <!--Внедрение простых значений-->
    <!--<start id="kenny_bean" />-->
    <bean id="kenny" class="part_1.head_02.com.springinaction.spring_idol.Instrumentalist">
        <property name="song" value="Jingle Bells"/>
    </bean>
    <!--<end id="kenny_bean" />-->

    <!--Внедрение ссылок на другие компоненты-->
    <!--<start id="saxophone_bean" />-->
    <bean id="saxophone" class="part_1.head_02.com.springinaction.spring_idol.Saxophone"/>
    <!--<end id="saxophone_bean" />-->

    <!--<start id="piano_bean" />-->
    <bean id="piano" class="part_1.head_02.com.springinaction.spring_idol.Piano" />
    <!--<end id="piano_bean" />-->

    <!--<start id="kenny_saxophone_bean" />-->
    <bean id="kenny_saxophone" class="part_1.head_02.com.springinaction.spring_idol.Instrumentalist">
        <property name="song" value="Jingle Bells"/>
        <property name="instrument" ref="saxophone"/>
    </bean>
    <!--<end id="kenny_saxophone_bean" />-->

    <!--<start id="kenny_piano_bean" />-->
    <bean id="kenny_piano" class="part_1.head_02.com.springinaction.spring_idol.Instrumentalist">
        <property name="song" value="Jingle Bells"/>
        <property name="instrument" ref="piano"/>
    </bean>
    <!--<end id="kenny_piano_bean" />-->

    <!--<start id="kenny_saxophone2_bean" />-->
    <bean id="kenny_saxophone2" class="part_1.head_02.com.springinaction.spring_idol.Instrumentalist">
        <property name="song" value="Jingle Bells"/>
        <property name="instrument">
            <bean class = "part_1.head_02.com.springinaction.spring_idol.Saxophone"/>
        </property>
    </bean>
    <!--<end id="kenny_saxophone2_bean" />-->

    <!--Связывание свойств с помощью пространства имен p-->
    <!--<start id="kenny_saxophone_p_bean" />-->
    <bean id="kenny_saxophone_p" class="part_1.head_02.com.springinaction.spring_idol.Instrumentalist"
          p:song = "Jingle Bells"
          p:instrument-ref = "saxophone" />
    <!--<end id="kenny_saxophone_p_bean" />-->

    <!--Внедрение списков, множеств и массивов-->
    <!--<start id="hankCollection_bean" />-->
    <bean id="hankCollection"
        class="part_1.head_02.com.springinaction.spring_idol.OneManBand_Collection">
        <property name="instruments">
            <list>
                <ref bean="guitar"/>
                <ref bean="cymbal"/>
                <ref bean="harmonica"/>
            </list>
        </property>
    </bean>
    <!--<end id="hankCollection_bean" />-->

    <!--<start id="hankMap_bean" />-->
    <bean id="hankMap"
          class="part_1.head_02.com.springinaction.spring_idol.OneManBand_Map">
        <property name="instruments">
            <map>
                <entry key="GUITAR" value-ref="guitar"/>
                <entry key="CYMBAL" value-ref="cymbal"/>
                <entry key="HARMONICA" value-ref="harmonica"/>
            </map>
        </property>
    </bean>
    <!--<end id="hankMap_bean" />-->

    <!--<start id="hankProperties_bean" />-->
    <bean id="hankProperties" class="part_1.head_02.com.springinaction.spring_idol.OneManBand_Properties">
        <property name="instruments">
            <props>
                <prop key="GUITAR">STRUM STRUM STRUM</prop>
                <prop key="CYMBAL">CRASH CRASH CRASH</prop>
                <prop key="HARMONICA">HUM HUM HUM</prop>
            </props>
        </property>
    </bean>
    <!--<end id="hankProperties_bean" />-->

    <bean id="guitar" class="part_1.head_02.com.springinaction.spring_idol.Guitar"/>
    <bean id="cymbal" class="part_1.head_02.com.springinaction.spring_idol.Cymbal"/>
    <bean id="harmonica" class="part_1.head_02.com.springinaction.spring_idol.Harmonica"/>

    <!--2.3.1. Основы языка выражений SpEL-->
    <!--<start id="carl_bean" />-->
    <bean id="carl" class="part_1.head_02.com.springinaction.spring_idol.Instrumentalist">
        <property name="song" value="#{kenny.song}"/>
    </bean>
    <!--<end id="carl_bean" />-->

    <!--<start id="carl_toUpperCase_bean" />-->
    <bean id="carl_toUpperCase" class="part_1.head_02.com.springinaction.spring_idol.Instrumentalist">
        <property name="song" value="#{kenny.song?.toUpperCase()}"/>
    </bean>
    <!--<end id="carl_toUpperCase_bean" />-->

</beans>